{% extends "layout.html" %}

<!-- HEADER -->
{% block head %}
<title>{{dict_com["COMMON"]["TITLE"]}}</title>
{% endblock %}

<!-- BODY -->
{% block content %}
<!-- TITLE-->
<div id="title">
    <h1> HELLO! WORLD!</h1>
    <h2> {{dict_com["COMMON"]["SCENARIO"]}}</h2>
</div>
<!-- DIRCTORY TREE -->
<div id="dir_tree">
    <h2> DIRCTORY TREE</h2>
    <script type=text/javascript>
     insert_json_tree("dir_tree",{{ dir_trees|tojson }});
    </script>
</div>
<!-- COMMON JSON-->
<div id="com_json">
    <h2> COMMON JSON</h2>
    <script type=text/javascript>
     insert_json_tree("com_json",{{ dict_com|tojson }});
    </script>
</div>

<!-- MY_CONFIG JSON-->
<div id="myconf_json">
    <h2> MYCONF JSON</h2>
    <script type=text/javascript>
     insert_json_tree("myconf_json",{{ dict_conf|tojson }});
    </script>
</div>

<!-- MY_SQL DATA -->
<h2> MY_SQL_DATA </h2>
<div class="mysql_data">
    <table>
        <tr>
            {% for colum in colums %}
            <th> {{ colum }} </th>
            {% endfor %}
        </tr>
        {% for dict_elements in dict_db %}
        <tr>
            {% for key, value in dict_elements.items() %}
            <td> {{ value }} </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>

<div class="button">
    <p>
        <a href="./" class="btn btn-primary">ホーム</a>
    </p>
</div>
<div class="button">
    <p>
        <a href="./register" class="btn btn-primary">登録</a>
    </p>
</div>
<div class="button">
    <p>
        <a href="./login" class="btn btn-primary">ログイン</a>
    </p>
</div>
<div class="button">
    <p>
        <a href="./update" class="btn btn-primary">更新</a>
    </p>
</div>
<div class="button">
    <p>
        <a href="./delete" class="btn btn-primary">削除</a>
    </p>
</div>
<div class="button">
    <p>
        <a href="./logout" class="btn btn-primary">ログアウト</a>
    </p>
</div>

{% endblock %}
