{% extends "layout.html" %}

<!-- HEADER -->
{% block head %}
<title>LOGIN</title>
{% endblock %}

<!-- BODY -->
{% block content %}
<h1>
    LOGIN
</h1>

<div>
    <!-- FLASH -->
    {% with errors = get_flashed_messages(category_filter=["failed"]) %}
    {% if errors %}
    <ul>
        {% for msg in errors %}
        <li class="failed">{{ msg }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <!-- /FLASH -->
    <form action="" method="POST">
        <div class="form-group">
            <!-- EMAIL -->
            <div class="email">
                <p>
                <label>メールアドレス</label>
                <input type="text" name="email" class="form-control" value={{request.form.email}} >
                </p>
            </div>
            <!-- PASSWORD-->
            <div class="password">
                <p>
                <label>パスワード</label>
                <input type="password" name="password" class="form-control" value={{request.form.password}} >
                </p>
            </div>
        </div>
        <!-- SUBMIT-->
        <div class="button">
            <p>
                <button type="submit" class="btn btn-primary">ログイン</button>
            </p>
        </div>
        <div class="button">
            <p>
                <a href="./register" class="btn btn-primary">新規登録</a>
            </p>
        </div>
    </form>
</div>
{% endblock %}
