{% extends "layout.html" %}

<!-- HEADER -->
{% block head %}
<title>UPDATE</title>
{% endblock %}

<!-- BODY -->
{% block content %}
<h1>
    UPDATE
</h1>

<div>
    <!-- FLASH -->
    {% with messages = get_flashed_messages(category_filter=["success"]) %}
    {% if messages %}
    <ul>
        {% for msg in messages %}
        <li class="success">{{ msg }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% with errors = get_flashed_messages(category_filter=["failed"]) %}
    {% if errors %}
    <ul>
        {% for msg in errors %}
        <li class="failed">{{ msg }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <!-- /FLASH -->
    <form action="" method="POST">
        <div class="form-group">
            <!-- USERNAME -->
            <div class="username">
                <p>
                    <label>新しいユーザ名</label>
                    <input type="text" name="username" class="form-control" value={{request.form.username}} >
                </p>
            </div>
            <!-- EMAIL -->
            <div class="email">
                <p>
                <label>メールアドレス</label>
                <input type="text" name="email" class="form-control" value={{request.form.email}} >
                </p>
            </div>
            <!-- PASSWORD-->
            <div class="password">
                <p>
                    <label>新しいパスワード</label>
                    <input type="password" name="password" class="form-control" value={{request.form.password}} >
                </p>
            </div>
            <!-- REPASSWORD-->
            <div class="repassword">
                <p>
                    <label>新しいパスワード確認</label>
                    <input type="password" name="confirm" class="form-control" value={{request.form.confirm}} >
                </p>
            </div>
        </div>
        <!-- SUBMIT-->
        <div class="button">
            <p>
                <button type="submit" class="btn btn-primary">更新</button>
            </p>
        </div>
    </form>

    <div class="button">
        <p>
            <a href="./" class="btn btn-primary">ホーム</a>
        </p>
    </div>
    <div class="button">
        <p>
            <a href="./register" class="btn btn-primary">登録</a>
        </p>
    </div>
    <div class="button">
        <p>
            <a href="./login" class="btn btn-primary">ログイン</a>
        </p>
    </div>
    <div class="button">
        <p>
            <a href="./update" class="btn btn-primary">更新</a>
        </p>
    </div>
    <div class="button">
        <p>
            <a href="./delete" class="btn btn-primary">削除</a>
        </p>
    </div>
    <div class="button">
        <p>
            <a href="./logout" class="btn btn-primary">ログアウト</a>
        </p>
    </div>
</div>
{% endblock %}
